.logo {
    visibility: visible;
    display: block;
    background: url("../img/logo-light.png") no-repeat;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 25px;
    top: 25px;
    z-index: 500;
}

html body {
    background-color: black;
}

hr{
    color: transparent;
    border-top-width: 0px;
}

.container1 {
    margin: auto;
    flex-flow: column;
    display: flex;
    padding: 40px 48px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 60%;
    text-align-last: center;
    display: flex;
    justify-content: center;
}

.alarm1 {
    font-size: 50px;
    color: #f5f5f7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: -50px;
}

.alarm2 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: radial-gradient(#eff1ff, #000);
    background-size: 100% 200%;
    background-position: 50% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;
}

input#alarm-selector {
    border-radius: 8px;
    background: #282828;
    letter-spacing: 1px;
    padding: 5px 10px 5px 10px;
    line-height: 1.47059;
    font-size: 15px;
    color: #898989;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 10px;
}

input#alarm-selector:hover {
    background: #dddddd;
    color: #6e6e6e;
    transition: all 1s;
}

.button-block {
    box-sizing: border-box;
    width: 50%;
    font-size: 15px;
    line-height: 1.47059;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: #adadad3b;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 8px;
    color: rgb(156, 156, 156);
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding: 5px 15px;
    text-align: center;
    white-space: nowrap;
    opacity: 1;
    margin: 0px 5px 0px 5px;
    max-width: 150px;
}

.button-block-big {
    box-sizing: border-box;
    width: 23%;
    font-size: 15px;
    line-height: 1.47059;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: #adadad3b;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 8px;
    color: rgb(156, 156, 156);
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding: 5px 15px;
    text-align: center;
    white-space: nowrap;
    opacity: 1;
    margin: 0px 5px 0px 5px;
}

.blue {
    color: white;
    background-color: rgb(0, 110, 255);
    border: solid 1px rgb(0, 119, 255);
    transition: all 0.3s;
}

.red {
    color: rgb(255, 255, 255);
    background: #757575;
    border: solid 1px rgb(150, 150, 150);
    transition: all 0.3s;
}

.blue:hover {
    color: rgb(206, 206, 206);
    background-color: rgb(0, 57, 133);
    border: solid 1px rgb(0, 82, 175);
    transition: all 0.3s;
}

.red:hover {
    color: rgb(218, 218, 218);
    background-color: rgb(129, 0, 0);
    border: solid 1px rgb(156, 0, 0);
    transition: all 0.3s;
}

.return {
    color: rgb(128, 128, 128);
    background-color: rgb(214, 214, 214);
    border: solid 1px rgb(243, 243, 243);
    transition: all 0.3s;
}

.return:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(139, 139, 139);
    border: solid 1px rgb(179, 179, 179);
    transition: all 0.3s;
}

.swal2-container.swal2-center.swal2-backdrop-show {
    backdrop-filter: blur(7px);
    background: rgb(0 0 0 / 22%);
    transition: all 0.3s;
}